input{
    margin: 5px 0;
} 

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}

table td, th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

table td {
    border-left: 1px solid #eeecf1;
    border-right: 1px solid #ECF0F1;
}

.delete {
    border: none;
    width: 20px;
    height: 20px;
    background: center center no-repeat url(https://img.icons8.com/office/20/000000/delete-sign.png);
    cursor: pointer;
    margin-right: 5px;
}

.edit {
    border: none;
    width: 20px;
    height: 20px;
    background: center center no-repeat url(https://img.icons8.com/cotton/20/000000/edit--v1.png);
    cursor: pointer;
}

table th {
    background-color: #4ecdc5e5;
    cursor: pointer;
}

table tr:nth-of-type(odd) td {
    background-color: #6cf0e72d;
}

.low-rating {
    background-color: #f8757591;
}

.search{
    background-color: #11a001b9 !important;
}

.filter{
    margin: 5px;
}

.searchString{
    width: 790px;
}

.birth-date{
    width: 800px;
}

.column-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting-column{
    display: flex;
    flex-flow: column wrap;
}

.sorting-column__desc, .sorting-column__asc{
    margin: -3px 0;
}

.sorting-column__desc img{
    transform: rotate(180deg);
}

.popup{
    position: fixed;
    width: 800px;
    height: 100vh;
    top: 0;
    background: #0008;
    z-index: 1;
}

.popup-message{
    margin: 30vh 20vw;
    padding: 20px;
    background: #4ecdc5e5;
}

.popup-message p{
    text-align: center;
}

.popup-buttons{
    text-align: center;
}

.popup-buttons button{
    width: 55px;
    margin: 0 2px;
}

.addNewStudent{
    margin: 0 20px;
}